@model TaskManagement.Models.Project

<h2>Create</h2>
<form method="post" action="/Project/Create" enctype="multipart/form-data">
    @Html.HiddenFor(m => m.OrganizerId)
    @Html.Label("Title", "Project Title")
    <br /> @Html.TextBox("Title", null, new { @class = "form-control" })
    <br /><br /> @Html.Label("Description", "Project Description")
    <br /> @Html.TextBox("Description", null, new { @class = "form-control" })
    <br />
    <button class="btn btn-sm btn-succes" type="submit">Create Project</button>
</form>

