@model TaskManagement.Models.Project
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<form method="post" action="/Project/Edit/@Model.Id">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.OrganizerId)
    </br>
    @Html.Label("Title", "Project Title")
    </br>
    @Html.EditorFor(m => m.Title)
    </br></br>
    @Html.Label("Description", "Project Description")
    </br>
    @Html.EditorFor(m => m.Description)
    </br></br>
    <button class="btn btn-sm btn-success" type="submit">Edit Project</button>
</form>
