@model TaskManagement.Models.Project
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<form method="post" action="/Project/Edit/@Model.Id">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.OrganizerId)
    <br/>
    @Html.Label("Title", "Task Title")
    <br/>
    @Html.EditorFor(m => m.Title)
    </br></br>
    @Html.Label("Description", "Project Description")
    </br>
    @Html.TextBoxFor(m => m.Description, new { style = "height:5vw; width:30vw;" })
    </br></br>
    <button class="btn btn-primary" type="submit">&#x1f44a;Save Changes</button>
    <button class="btn btn-primary" onclick="window.location='/project/';">&#8592;Projects Dashboard</button>
</form>
