@model TaskManagement.Models.ProjectTask
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<form method="post" action="/ProjectTask/Edit/@Model.Id">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.AssigneeID)
    @Html.HiddenFor(m => m.StartDate)
    @Html.HiddenFor(m => m.Status)
    <br />
    @Html.Label("Title", "Task Title")
    <br />
    @Html.EditorFor(m => m.Title)
    <br /><br />
    @Html.Label("Description", "Task Description")
    <br />
    @Html.EditorFor(m => m.Description)
    <br /><br />
    @Html.Label("Deadline", "Task Deadline")
    <br />
    @Html.EditorFor(m => m.Deadline)
    <br /><br />
    <button class="btn btn-primary">&#x1f44a;Save Changes</button>
    <button class="btn btn-primary" onclick="window.location='/project/show/@Model.ProjectId';">&#8592;All Tasks</button>

</form>