@model TaskManagement.Models.ProjectTask
@{
    ViewBag.Title = "Show";
}




<br />
<br />
<h4><span class="label label-default">Task</span></h4> @Model.Title
<h4><span class="label label-default">Project</span></h4> @ViewBag.ProjectTitle
<h4><span class="label label-default">Status</span></h4> @Model.Status
<h4><span class="label label-default">Task Description</span></h4>@Model.Description
<h4><span class="label label-default">Start Date</span></h4>@Model.StartDate
<h4><span class="label label-default">End Date</span></h4>@Model.Deadline
<h4><span class="label label-default">Assignee</span></h4>
@{
    if (Model.Assignee != null)
    {
        <div>Assignee: @Model.Assignee.UserName</div>
    }
    else
    {
        <div>Unassigned</div>
    }
}

<br />
<br />
<div align="center">
    <table>
        <tr>

            <td>
                <form method="post" action="/Project/Show/@Model.ProjectId">
                    <button class="btn btn-primary btn-lg" type="submit">Back</button>

                </form>

            </td>

            <td>
                <form method="post" action="/ProjectTask/UpdateStatus/@Model.Id">
                    <button class="btn btn-primary btn-lg" type="submit" style="margin-left:10px;">Update Status</button>
                </form>
            </td>

            <td>
                <form method="post" action="/ProjectTask/Edit/@Model.Id">
                    <button class="btn btn-primary btn-lg" type="submit" style="margin-left:10px;">Edit Task</button>
                </form>
            </td>

            <td>
                <form method="post" action="/ProjectTask/Delete/@Model.Id">
                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                    <button class="btn btn-primary btn-lg" type="submit" style="margin-left:10px;">Delete Task</button>
                </form>
            </td>
            <td>
                @if (Model.AssigneeID == null)
                {
                    <form method="post" action="/ProjectTask/Assign/@Model.Id">
                        <button class="btn btn-primary btn-lg" type="submit" style="margin-left:10px;">Assign</button>
                    </form>
                }
            </td>
        </tr>
    </table>
</div>


@foreach (TaskManagement.Models.Comment comment in Model.Comments)
{
    <h5>@comment.Message</h5>
    <h6>@comment.Author.UserName</h6>
    <h6>@comment.PostedAt</h6>

    <form method="get" action="/Comment/Edit/@comment.Id">
        <button class="btn btn-sm btn-success" type="submit">Edit</button>
    </form>

    <form method="post" action="/Comment/Delete/@comment.Id">
        @Html.HttpMethodOverride(HttpVerbs.Delete)
        <button class="btn btn-sm btn-success" type="submit">Delete</button>
    </form>
}


<br/><br/>
<form method="get" action="/Comment/Create/@Model.Id">

    <button class="btn btn-sm btn-success" type="submit">Add Comment</button>
</form>


